<section class="section hidden section-about" id="about">
	<h2>About Game</h2>

	<div class="video">
		<div class="video-info">
			<div class="video-title">Watch the Trailer</div>

			<div class="video-btn">play</div>
		</div>

		<video id="video" src="./assets/images/video.mp4" poster="./assets/images/bg-video.png"></video>
	</div>
</section>
