
		<section class="section hidden section-dual" id="controller">
			<div class="container">
				<h2>DualSense</h2>

				<div class="dual flex flex-center">
					<div class="dual-description">
						<p>
							You can also buy an exclusive controller with the
							<span class="violet">
								God of War Ragnarok</span>
							theme for PS5
						</p>
						<p>
							If you purchase a controller and a game (any
																					                            edition), you will receive a
							<span class="orange">
								15%</span>
							discount on two items.
						</p>

						<div class="dual-description__info flex">
							<div class="dual-description__price">35.99$</div>
							<div class="dual-description__button">
								buy dualsense with a game
							</div>
						</div>
					</div>

					<div class="dual-img">
						<img src="./assets/images/dual.png" alt="dualSense"/>
					</div>
				</div>
			</div>
		</section>
