<section class="section hidden section-faq" id="faq">
			<div class="container">
				<h2>FAQ</h2>

				<div class="faq-items flex">
					<div class="faq-item">
						<div class="faq-item__header flex">
							<p>When is the next God of War coming out?</p>
							<span class="flex flex-center"></span>
						</div>

						<div class="faq-item__content">
							<p>
								God of War Ragnarök will release on
								<span>
									November 9, 2022</span>
								. To get the latest updates on release timing,
																											make sure you follow Santa Monica Studio on
																											Twitter, Instagram and Facebook!
							</p>
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-item__header flex">
							<p>
								Will God of War Ragnarök have an upgrade path?
							</p>
							<span class="flex flex-center"></span>
						</div>

						<div class="faq-item__content">
							<p>Yes, of course</p>
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-item__header flex">
							<p>What is god of war about?</p>
							<span class="flex flex-center"></span>
						</div>

						<div class="faq-item__content">
							<p>
								First era (Greek mythology) God of War was first
																																				released in North America on March 22, 2005, for
																																				the PlayStation 2. After ten years in the
																																				service of the Olympian gods, Spartan soldier
																																				Kratos is tasked by Athena to find Pandora's
																																				box, the key to defeating Ares, the God of War,
																																				who is running amok through Athens.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>