
		<section class="section hidden section-news" id="news">
			<h2>News</h2>

			<div class="news swiper flex-center flex">
				<div class="swiper-wrapper">
					<div class="swiper-slide news-item">
						<div class="news-item__info flex">
							<div class="news-item__subtitle">
								God of War Ragnarok
							</div>

							<div class="news-item__date">19/10/2022</div>
						</div>

						<div class="news-item__title">
							will receive a large update on release
						</div>

						<div class="news-item__description flex flex-center">
							<div class="news-item__img" style="
																                                    background-image: url(./assets/images/news1.png);
																                                "></div>

							<div class="news-item__text flex">
								<p>
									God of War: Ragnarok is fast approaching. No
																			wonder that we have been regularly receiving
																			new information and materials related to the
																			title in recent times. Last week, a trailer
																			presenting the possibilities of the game on
																			PlayStation 5 hit the network , and a little
																			earlier we learned that the work on the
																			production was completed . Meanwhile, it
																			turns out that the upcoming sequel to the
																			adventures of Kratos and Atreus will receive
																			a major update on release.
								</p>

								<a href="#" class="news-item__button">
									read
								</a>
							</div>
						</div>
					</div>

					<div class="swiper-slide news-item">
						<div class="news-item__info flex">
							<div class="news-item__subtitle">
								God of War Ragnarok
							</div>

							<div class="news-item__date">21/10/2022</div>
						</div>

						<div class="news-item__title">
							is officially one of the largest PS4 games by size
						</div>

						<div class="news-item__description flex flex-center">
							<div class="news-item__img" style="
																                                    background-image: url(./assets/images/news2.png);
																                                "></div>

							<div class="news-item__text flex">
								<p>
									Digital distribution enthusiasts need to get
																																								                                    ready for tons of downloads. The second
																																								                                    adventure of Kratos and Atreus in the High
																																								                                    North from the premiere will occupy nearly
																																								                                    120GB - when deciding to buy a title from
																																								                                    PlayStation Store, it is worth planning your
																																								                                    download wisely to start the game on the day
																																								                                    of the premiere.
								</p>

								<a href="#" class="news-item__button">
									read
								</a>
							</div>
						</div>
					</div>

					<div class="swiper-slide news-item">
						<div class="news-item__info flex">
							<div class="news-item__subtitle">
								God of War Ragnarok
							</div>

							<div class="news-item__date">19/10/2022</div>
						</div>

						<div class="news-item__title">
							is the final chapter in an epic story. See the new
																																                            video
						</div>

						<div class="news-item__description flex flex-center">
							<div class="news-item__img" style="
																                                    background-image: url(./assets/images/news3.png);
																                                "></div>

							<div class="news-item__text flex">
								<p>
									The highly anticipated game God of War:
																																								                                    Ragnarok will debut in just over twenty
																																								                                    days. On this occasion, representatives of
																																								                                    the Santa Monica studio together with Sony
																																								                                    decided to release a new trailer dedicated
																																								                                    to the epic history of Kratos and Atreus -
																																								                                    in this way we have received confirmation
																																								                                    that Ragnarok is the final chapter of the
																																								                                    adventures of the god of war.
								</p>

								<a href="#" class="news-item__button">
									read
								</a>
							</div>
						</div>
					</div>

					<div class="swiper-slide news-item">
						<div class="news-item__info flex">
							<div class="news-item__subtitle">
								God of War Ragnarok
							</div>

							<div class="news-item__date">19/10/2022</div>
						</div>

						<div class="news-item__title">
							will receive a large update on release
						</div>

						<div class="news-item__description flex flex-center">
							<div class="news-item__img" style="
																                                    background-image: url(./assets/images/news1.png);
																                                "></div>

							<div class="news-item__text flex">
								<p>
									God of War: Ragnarok is fast approaching. No
										wonder that we have been regularly receiving
										new information and materials related to the
										title in recent times. Last week, a trailer
										presenting the possibilities of the game on
										PlayStation 5 hit the network , and a little
										earlier we learned that the work on the
										production was completed . Meanwhile, it
										turns out that the upcoming sequel to the
										adventures of Kratos and Atreus will receive
										a major update on release.
								</p>

								<a href="#" class="news-item__button">
									read
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="swiper-button-prev swiper-button flex flex-center">
					{% include "../../_app/svg.twig" with {'name':"swiper-prev"}%}
				</div>

				<div class="swiper-button-next swiper-button flex flex-center">
					{% include "../../_app/svg.twig" with {'name':"swiper-next"}%}
				</div>
			</div>
		</section>