<!DOCTYPE html>
<html lang="en">
	{% include "./_app/head.twig" with { pageTitle: 'Main' } %}
	<body>
		{% include "./_app/header.twig" %}
		{% include "./_pages/main/editions-section.twig" %}
		{% include "./_pages/main/controller-section.twig" %}
		{% include "./_pages/main/about-section.twig" %}
		{% include "./_pages/main/explore-section.twig" %}
		{% include "./_pages/main/news-section.twig" %}
		{% include "./_pages/main/faq-section.twig" %}


		{% include "./_app/footer.twig" %}
		{% include "./_components/modal.twig"%}
	</body>
</html>
