<footer class="footer">
	<div class="container">
		<div class="footer-top flex">
			<ul class="footer-menu flex flex-center">
				<li></li>
				<li>
					<a class="menu-link" href="#editions">editions</a>
				</li>
				<li>
					<a class="menu-link" href="#controller">controller</a>
				</li>
				<li>
					<a class="menu-link" href="#about">ABOUT GAME</a>
				</li>
				<li>
					<a class="menu-link" href="#explore">Explore</a>
				</li>
				<li>
					<a class="menu-link" href="#news">news</a>
				</li>
				<li>
					<a class="menu-link" href="#faq">FAQ</a>
				</li>
			</ul>

			<div class="footer-lang flex">
				<span>Language:
				</span>

				<div class="footer-lang__list">
					<div class="footer-lang__current">english</div>

					<div class="footer-lang__content">
						<div class="footer-lang__content-item">
							Українська
						</div>
						<div class="footer-lang__content-item">
							English
						</div>x
					</div>
				</div>
			</div>
		</div>

		<div class="footer-info">
			Download of this product is subject to the PlayStation Network Terms of Service and our Software Usage Terms plus any specific additional conditions applying to this product. If you do not wish to accept these terms, do not download this product. See Terms of Service for more important information.
			<div class="footer-icon">
				<img src="./assets/images/ps-logo.png" alt=""/>
			</div>

			<div class="footer-year">2022</div>
			<div class="footer-rights">
				Developed by
				Voinarovskyi Rodion. All rights reserved
			</div>
		</div>
	</footer>
