@mixin button($bg: $violet) {
  background: $bg;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: $white;
  display: flex;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.25s;
}

@mixin hoverViolet {
  &:hover {
    background: #9468da;
  }

  &:active {
    background: #6039a0;
  }
}

@mixin hoverOrange {
  &:hover {
    background: #f8625a;
  }

  &:active {
    background: #a4221c;
  }
}

@mixin bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin screen($minValue: lg, $maxValue: false) {
  @if $minValue ==in {
    $minValue: null;
  }

  $isSegment: false;
  $isIncrease: false;
  $isDecrease: false;

  $printSegment: false;
  $printIncrease: false;
  $printDecrease: false;
  $printFlatten: false;

  $isSegment: $minValue and $maxValue;
  $isIncrease: $minValue;
  $isDecrease: $maxValue;


  $printSegment: $isSegment;
  $printIncrease: $isIncrease;
  $printDecrease: $isDecrease;

  @if $printSegment {
    @media (min-width: screen($minValue)) and (max-width: screen($maxValue, true)) {
      @content;
    }
  }

  @else if $printIncrease {
    @media (min-width: screen($minValue)) {
      @content;
    }
  }

  @else if $printDecrease {
    @media (max-width: screen($maxValue, true)) {
      @content;
    }
  }

  @else {
    @content;
  }

}