<div class="modal">
	<div class="modal-wrapper">
		<div class="modal-title">GOD OF WAR RAGNAROK</div>
		<div class="modal-version"></div>

		<form class="form">
			<div class="form-group full">
				<label for="card">Credit Card:</label>
				<input type="text" required placeholder="0000 0000 0000 0000" id="card"/>
			</div>

			<div class="form-group">
				<label for="expire">expire:</label>
				<input type="text" required placeholder="mm/yy" id="expire"/>
			</div>

			<div class="form-group">
				<label for="ccv">ccv:</label>
				<input type="text" required placeholder="***" id="ccv"/>
			</div>

			<div class="form-group full">
				<label for="instant">INSTANT:</label>
				<input type="text" required placeholder="John Doe" id="instant"/>
			</div>

			<div class="form-checkbox flex flex-center">
				<input type="checkbox" name="agreement" id="agreement" required/>
				<span class="check"></span>
				<label for="agreement">
					I agree with the
					<span class="red">rules</span>
					of the site
				</label>
			</div>

			<div class="modal-description">
				Download of this product is subject to the PlayStation Network Terms of Service and our Software Usage Terms
				plus any specific additional conditions applying to this
				product. If you do not wish to accept these terms, do not download this product. See Terms of Service for more
				important information.
			</div>

			<div class="modal-total flex flex-center">
				<div class="modal-total__text">YOUR TOTAL SUMMA:</div>
				<div class="modal-total__price"></div>
			</div>

			<button type="submit" class="modal-submit" data-text="buy">
				buy NOW
			</button>
		</form>

		<div class="modal-close">x</div>
	</div>
</div>

<div class="overlay"></div>
